body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    width: 100%;
    height: 100%;
    background-color: grey;
    margin: 0 auto;
    display: flex;
}

.vk-filter {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 620px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #ff8663;
    padding: 0 15px;
}

.header-title {
    color: #fff;
    font-size: 16px;
}

.vk-filter__btn-close {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.vk-filter__btn-close::after,
.vk-filter__btn-close::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 1.5px;
    left: 50%;
    top: 50%;
}

.vk-filter__btn-close::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.vk-filter__btn-close::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header__filter {
    display: flex;
    background-color: #f0f0f0;
}

.block__left,
.block__right {
    width: 50%;
    padding: 15px;
}

.block__left {
    padding-right: 10px;
}

.block__right {
    padding-left: 10px;
}

label {
    display: block;
    padding: 5px 20px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}

input {
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #c4c4c4;
} 

input::-moz-placeholder {
    color: #c4c4c4;
}

/* .search-icon {
    background: url('./img/close.svg') no-repeat;
} */

.vk-filter__body {
    display: flex;
    flex: 1;
}

.vk-filter__body .block__left {
    border-right: 1px solid #F0F0F0;
    padding-right: 15px;
}

.vk-filter__body .block__right {
    padding-left: 15px;
}

.block-title {
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 5px;
}

.friends-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #F0F0F0;
}

.body__list-friends {
    overflow-y: scroll;
    height: 295px;
}

.friends-item__img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
}

.friends-item__title {
    font-weight: bold;
}

.body__my-friends .vk-filter__btn-close {
    transform: rotate(45deg);
}

.friends-item .vk-filter__btn-close {
    margin-left: auto;
}

.friends-item .vk-filter__btn-close::after,
.friends-item .vk-filter__btn-close::before {
    background-color: #c4c4c4;
}

.friends-item.active {
    background-color: #F0F0F0;
}

.vk-filter__footer {
    position: relative;
    padding: 10px;
    background-color: #F0F0F0;
    min-height: 50px;
    text-align: right;
}

.btn-save {
    display: inline-block;
    background-color: #ff8663;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
}