{{#each users}}
    <li class="friends-item" draggable="true">
        <img class="friends-item__img" src="{{photo_100}}" height="45">
        <div class="friends-item__title">
            {{first_name}} {{last_name}}
        </div>
        <div class="vk-filter__btn-close btn--plus"></div>
    </li>
{{/each}}